body {
  background-color: #efefef;
  color: white;
  margin: 0;
  padding-bottom: 120px; }

a {
  color: inherit;
  text-decoration: none; }

* {
  margin: 0;
  padding: 0; }

hr {
  height: 0;
  border: none;
  border-top: 1px solid #DEDEDE; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

.clearfix::after {
  content: '';
  display: block;
  clear: both; }

[data-x].offset {
  transform: translateY(100px); }

[data-x] {
  transform: translateY(0);
  transition: all 0.5s; }

.topNavBar {
  padding: 20px 0 20px 0;
  position: fixed;
  width: 100%;
  transition: all 0.5s;
  color: #B7B7B7; }

.topNavBarinner {
  padding: 0px 16px; }

.topNavBar.sticky {
  background: white;
  padding: 10px 0px;
  z-index: 1;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  color: #3d4451; }

.topNavBar-inner {
  padding: 0 16px; }

.topNavBar nav {
  padding-top: 5.2px; }

.topNavBar nav > ul {
  list-style: none;
  margin: 0;
  padding: 0; }

.topNavBar nav > ul > li {
  float: left;
  margin-left: 17px;
  margin-right: 17px;
  position: relative; }

.topNavBar nav > ul > li > a {
  font-size: 12px;
  color: inherit;
  font-weight: bold;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  padding-bottom: 5px;
  padding-top: 5px;
  display: block;
  position: relative; }

.topNavBar nav > ul > li.active > a::after,
.topNavBar nav > ul > li.highlight > a::after {
  content: '';
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: #e06567;
  height: 3px;
  animation: menuSlide 0.5s; }

@keyframes menuSlide {
  0% {
    width: 0; }
  100% {
    wifth: 100%; } }

.topNavBar .submenu {
  display: none;
  position: absolute;
  right: 0;
  top: 100%;
  background: white;
  color: #3d4451;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); }

.topNavBar li.active > .submenu {
  display: block;
  animation: submenuSlide 0.5s; }

@keyframes submenuSlide {
  0% {
    margin-right: 100%; }
  100% {
    margin-right: 0%; } }

.topNavBar .submenu > li {
  white-space: nowrap;
  padding: 5px 10px; }

.topNavBar .logo {
  font-size: 24px;
  font-family: "Arial black";
  padding-top: 3px;
  padding-bottom: 3.16px; }

.topNavBar .logo .rs {
  margin-right: 4px;
  color: #E6686A; }

.topNavBar .logo .card {
  color: #9A9DA2; }

.banner {
  background-image: url(./img/fire3.jpg);
  height: 520px;
  background-position: center center;
  background-size: cover; }

.banner .mask {
  height: 520px;
  background-color: rgba(0, 0, 0, 0.3); }

.userCard {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 0px 9px 4px rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.6); }

.userCard .pictureAndText {
  padding: 50px; }

.userCard .welcome {
  background: #E6686A;
  color: white;
  display: inline-block;
  padding: 4px 15px;
  position: relative; }

.userCard .welcome .sanjiao {
  display: block;
  border: 10px solid transparent;
  width: 0px;
  border-left-color: #E6686A;
  border-top-width: 0px;
  position: absolute;
  left: 4px;
  top: 100%; }

.userCard .picture {
  float: left; }

.userCard .text {
  float: left;
  margin-left: 65px;
  width: 470px; }

.userCard .text h1 {
  margin-top: 18px; }

.userCard .text hr {
  margin: 20px 0; }

.userCard dl dt,
.userCard dl dd {
  float: left;
  padding: 5px 0; }

.userCard dl dt {
  width: 30%;
  font-weight: bold; }

.userCard dl dd {
  width: 70%;
  color: #9da0a7; }

.userCard > footer.media {
  background: #E6686A;
  text-align: center; }

.userCard > footer.media > a {
  border-radius: 50%;
  display: inline-block;
  width: 40px;
  padding: 5px 0;
  line-height: 30px;
  margin: 7px 20px; }

.userCard .media svg {
  width: 30px;
  height: 30px;
  fill: white;
  vertical-align: top; }

.userCard .media > a:hover {
  background: #CF505F; }

body > main {
  margin-top: -340px; }

body > main .downloadcv-wrapper {
  text-align: center; }

body > main .downloadcv {
  font-size: 14px;
  line-height: 16px;
  padding: 21px 55px;
  border: 1px solid #CDCFD1;
  background: #EFEFEF;
  display: inline-block;
  border-radius: 2px;
  color: #3d4451;
  font-weight: bold;
  margin: 32px 0;
  transition: box-shadow 0.3s; }

body > main .downloadcv:hover {
  box-shadow: 8px 4px 13px 0px rgba(0, 0, 0, 0.2); }

.jianjie {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 20px;
  font-family: cursive;
  color: #000;
  margin-top: 30px;
 }

section.skills,
section.portfolio {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px; }

section.skills > h2,
section.portfolio > h2,
section.me > h2 {
  text-align: center;
  color: #3d4451;
  font-size: 34px;
  line-height: 1.2;
  font-weight: 600; }

section.skills > h3 {
  font-size: 14px;
  line-height: 1.1;
  padding-right: 48px; }

ol, ul {
  list-style: none; }

section.skills > ol {
  background: white;
  padding: 42px 50px 10px;
  margin-top: 30px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); }

section.skills > ol > li {
  width: 48%;
  float: left;
  box-sizing: border-box;
  color: #000; }

section.skills > ol > li:nth-child(even) {
  float: right; }

section.skills .bar {
  height: 5px;
  background: #FAE1E1;
  border-radius: 2px;
  margin: 4px 0 40px;
  overflow: hidden; }

section.skills .bar .color {
  height: 100%;
  width: 70%;
  background: #E6686A;
  border-radius: 2px;
  transform: translateX(0);
  transition: all 1s; }

section.skills .bar .color.c1{
  width: 80%;
}
section.skills .bar .color.c2{
  width: 65%;
}
section.skills .bar .color.c5{
  width: 40%;
}

section.skills.offset .color {
  transform: translateX(-100%); }

section.portfolio {
  text-align: center;
 }

section.portfolio .swiper-container {
  width: 940px;
  height: 705px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  margin-top: 30px;
}

/* works */

  section.works h2{
    text-align: center;
}

.worksList{
    max-width: 1000px;
    margin: 40px auto;
}



.worksList > ul{
    display: flex;
    flex-wrap: wrap;
}
.worksList > ul > li{
    flex: 1 0 100%;
    padding-bottom:20px;
}

.worksList > ul > li figure:hover{
    box-shadow: 0px 4px 13px 0px rgba(0, 0, 0, 0.2);
}
.worksList  ul > li  figure{
   width: 100%;
   height: 100%;
   display: flex;
   /* flex-direction: row-reverse; */
   flex-wrap: wrap;
   align-items: flex-start;
   border:1px solid #ddd;
   background: #eee;
   overflow: hidden;
   /* box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.75); */

}
.worksList  ul > li  figure > div.img{
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 30%;
    flex:0.3;
    background: #aaa;
    /* flex-basis: 50%; */
   
}
.worksList  ul > li  figure > div.img.i1{
    background:url(./img/轮播/nav.jpg) center center no-repeat;
    background-size: cover;
}
.worksList  ul > li  figure > div.img.i2{
    background:url(./img/轮播/canvas.jpg) center center no-repeat;
    background-size: cover;
}
.worksList  ul > li  figure > div.img.i3{
    background:url(./img/轮播/Carousel.jpg) center center no-repeat;
    background-size: cover;
}
.worksList  ul > li  figure > div.img.i4{
    background:url(./img/轮播/music.jpg) center center no-repeat;
    background-size: cover;
}
.worksList  ul > li  figure > div.img.i5{
    background:url(./img/轮播/blog.jpg) center center no-repeat;
    background-size: cover;
}
.worksList  ul > li  figure > div.img.i6{
    background:url(./img/轮播/pikachu.jpg) center center no-repeat;
    background-size: cover;
}
.worksList  ul > li  figure > div.img.i7{
  background:url(./img/轮播/fanyi.png) center center no-repeat;
  background-size: cover;
}
.worksList  ul > li  figure > figcaption{
   flex:0.7;
   /* flex-basis: 50%; */
   /* width: 50%; */
    
}
figure > figcaption h3{
    padding: 10px;
    color: #000;
}
figure > figcaption p{
  color: #000;
}
figure > figcaption div.descript .descript-content{
    text-indent: 2em;
    color: #000;
}

figure > figcaption div.workFooter{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    overflow: hidden;
}
figure > figcaption a{
    display: inline-block;
    padding: 6px 10px;
    border-radius: 4px;
    outline: none;
    -webkit-transition: .1s;
    transition: .1s;
    cursor: pointer;
    line-height: 20px;
    font-size: 14px;
    flex-shrink: 0;
    text-align: center;
    color: #000;
    background: #ddd;
    border: 1px solid rgba(163, 161, 161, 0.514);
}
